.typeSelector {
  color: #383838;
  background-color: #00000014;
  font-size: 0.9rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.type {
  display: inline-block;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 12px 0;
}

.active {
  background-color: white;
  position: relative;
}

.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 100%;
  left: 0;
  background-color: #3BB582;
}