.newForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newForm input {
  display: block;
  width: 80%;
  border: none;
  border-bottom: 2px solid grey;
  height: 50px;
  margin-bottom: 10px;
  font-size: 1.6rem;
  padding: 0 12px;
  box-sizing: border-box;
}

.newForm input:focus {
  outline: none;
}