.Header {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  height: 54px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

#Layer_1 {
  width: 35px;
}

.logo-svg {
  fill: url(#SVGID_LOGO);
}

.menu-toggle {
  position: absolute;
  right: 0;
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}