.info {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.05); */
}

.info-top {
  font-size: 1.1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

.info-title {
  width: 90%;
  word-break: break-all;
}

.modify {
  width: 10%;
  text-align: right;
}

.time-stamp {
  font-size: 0.8rem;
  color: #aaaaaa;
  margin-top: 5px;
}